/* CSS POUR LA PAGE GAME.PHP */
.orientation_warning {
    position: absolute;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: red;
}
 
 @media only screen and (orientation: landscape) {
     .orientation_warning {
         display: none;
     }

     .landscape-only {
         display: block;
     }
 }

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
 }