/* CSS POUR LA PAGE GAME.PHP */
.orientation_warning {
    position: absolute;
    z-index: 300;
    width: 100%;
    height: 100%;
    background: rgb(57, 47, 90);
    background: linear-gradient(36deg, rgba(57, 47, 90, 1) 0%, rgba(239, 71, 111, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.orientation_warning img {
    width: 50%;
    transform: rotate(90deg);
}

.orientation_warning h3 {
    font-family: "Francois One", sans-serif;
    font-size: 25px;
    color: white;
}

@media only screen and (orientation: landscape) {
    .orientation_warning {
        display: none;
    }

    .landscape-only {
        display: block;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}