@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Francois+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #392F5A;
}

h1 {
    font-family: Francois one;
    color: white;
}

.element_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#Logo_main_page {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.buttons_container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 20%;
}

.button {
    background-color: #FF8811;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5% 0;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-family: "Francois One", sans-serif;
    width: 70vw;
    filter: drop-shadow(0px 2px 2px #000000);
}

form, .count {
    display: flex;
    align-items: center;
    width: 70vw;
    justify-content: space-around;
}

form {
    flex-direction: column;
}

.count_btn {
    width: 40vw;
}

.add_remove_btn {
    background-color: #FF8811;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.button_active {
    background-color: #FCD772;
}

input, label {
    font-size: 1.5rem;
}

.username_entry {
    text-align: center;
}