@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Francois+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #392F5A;
}

.buttons_container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100vh;
    padding-bottom: 20%;
}

.button {
    background-color: #FF8811;
/* Suggested code may be subject to a license. Learn more: ~LicenseLog:1542220819. */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5% 0;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-family: "Francois One", sans-serif;
    width: 70vw;
}